# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_export_environment

# macOS
.DS_Store

# Windows
Thumbs.db
*.log

# Editor
.idea/
.vscode/
.env

# Project Documentation (Generated Summaries)
summary/
scripts
# Local make rules (ignored)
Makefile.local
